
body{
font-family:Arial;
background:#020617;
color:white;
margin:0;
padding:20px;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:30px;
}

nav button{
margin-left:10px;
}

#products{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(220px,1fr));
gap:20px;
}

.card{
background:#1e293b;
padding:15px;
border-radius:10px;
}

button{
background:#6366f1;
border:none;
padding:8px 12px;
color:white;
border-radius:6px;
cursor:pointer;
}

select{
padding:6px;
margin-top:10px;
}
